
/*------------------------------------------------------------------------------
Responsive resizing - makes the content in 2-4 rectangles look beautiful and
aligned in all devices, they are getting narrower untill the limit of 480 px
(mobile phones) when they allign one after another. In case of 4 rectangles
there is another breaking point at 800px, when they allign themselves two by two.
If needed, one rectangle can have have two thirds of space and one just one
third that is left.
-------------------------------------------------------------Izabela Ravnikar */

/*-------------------------grouping elements----------------------------------*/

/*for IE vesions older than 7*/
.row {
    zoom: 1;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*----------------------------------colums------------------------------------*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}

/* to prevent outstanding of first element on mobile and tablet size */
.col:first-child { margin-left: 0; }


/* to have only bottom margin at that size of screen*/
@media only screen and (max-width: 480px) {
	.col {
		margin: 0 0 2% 0;
	}
}

/*------------------------------two rectangles--------------------------------*/

.two-of-two {
	width: 100%;
}

.one-of-two {
	width: 49.2%;
}

/* go one after another on mobile version */

@media only screen and (max-width: 480px) {
	.two-of-two {
		width: 100%;
	}
	.one-of-two {
		width: 100%;
	}


}

/*-------------------------three rectangles-----------------------------------*/

.three-of-three {
	width: 100%;
}

.two-of-three {
	width: 66.13%;
}

.one-of-three {
	width: 32.26%;
}


/* go one after another on mobile version */

@media only screen and (max-width: 480px) {
	.three-of-three {
		width: 100%;
	}
	.two-of-three {
		width: 100%;
	}
	.one-of-three {
		width: 100%;
	}
}


/*-----------------------------four rectangles--------------------------------*/

.four-of-four {
	width: 100%;
}

.three-of-four {
	width: 74.6%;
}

.two-of-four {
	width: 49.2%;
}

.one-of-four {
	width: 23.8%;
}

/* go two and two on tablet width */

@media only screen and (max-width: 780px) {

    .four-of-four {
        width: 100%;
    }
    .four-of-four {
        width: 49.2%;
    }
    .two-of-four {
        width: 100%;
    }
    .one-of-four {
        width: 49.2%;
    }

/* to allign first rectangle with third */
	.col:nth-child(3) { margin-left: 0; }
}

/* go one after another on mobile version */

@media only screen and (max-width: 480px) {

	.four-of-four {
		width: 100%;
	}
	.thre-of-four {
		width: 100%;
	}
	.two-of-four {
		width: 100%;
	}
	.one-of-four {
		width: 100%;
	}
}
