/* simple style just to show the rectangles */

.first,
.second,
.third,
.fourth {
    height: 300px; /*add costum height*/
    border-radius: 20px;
}

.first { background-color: blue;}
.second { background-color: yellow;}
.third { background-color: green;}
.fourth { background-color: purple;}
